:root {
  scroll-behavior: smooth;
  
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

.footer {
  background-color: palegreen;
  display: block;
  width: auto;
  height: auto;
}

.glow {
  box-shadow: 0px 0px 25px 10px #FFF9F9;
}



.hero-img {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1583511666372-62fc211f8377?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2479&q=80);
  background-size: cover;
}




.pill-btn {
  border-radius: 25px;
  font-size: x-large;
}


.product {
  max-height: 100px;
}


/* NOTE allows image to be cropped to fit the height and width of its parent */
.object-fit-contain {
  object-fit: cover;
}

.spill {
  bottom: -30px
}


@media only screen and (min-width: 768px) {
  .hero-img {
    background-image: url(Dogo.png);
  }
}



.li:before {
  list-style:"none";
  content: "mdi-access-point-check";
  margin: 0, 0, 0 -15px;
  display: inline-block;
  width: 10px;
}
.bg-green {
background-color: palegreen;

}

.hero-img {
  height:min-content;
  background-image: url(https://images.unsplash.com/photo-1583511666372-62fc211f8377?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2479&q=80);
  background-size: cover;
}