:root {
  scroll-behavior: smooth;
  
}


header {
  height: 100px ;
  font-size: 30pt;
  border: whitesmoke;
  border-width: 2px;
  border-style:solid;

}

body {
  font-family: 'Jomhuria', cursive;
  font-size:x-large;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
    padding-top: 100px; 
}


main {
  flex-grow: 1;
    background-color:rgb(38, 34, 41);
    color: whitesmoke;
}

.footer {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin-right: -15px;
  margin-left: -15px;

}

.glow {
  box-shadow: 0px 0px 25px 10px #FFF9F9;
}



.hero-img {
  object-fit: fill;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size:cover;
}

.hiking {
  border: whitesmoke;
  border-width: 5px;
  border-style: double;
}

/* NOTE allows image to be cropped to fit the height and width of its parent */
.object-fit-contain {
  object-fit: cover;
}

.object-fit-fill {
  object-fit: fill;
}

@media screen and (min-width:600px){
  .spill {
    bottom: -40px;
  }
  
}


@media screen and (max-width: 600px) {
  .hide-text {
    display: none;
  }
}

li{
  padding: 0px;
  margin:0;
  list-style-type: none ;
}

.bg-green {
background-color: rgb(72,28,52);

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  min-width: 25vw;
  justify-content: space-around;
  border: 1px solid;
  margin: 0 0px;
  color: whitesmoke;
  background-color:rgba(36, 41, 56, 0.925);
  text-align: center;
}
.card2 {
  padding: 10px
}

.card3 {
  font-size: 20pt;
}

.cardIcon {
  font-size: 28pt;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;

}

.first-card {
  bottom: 20px;
  height:200px;
}

.text-overlay{
  color:white;
}

.centered {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-text {
  color: rgb(72,28,52)
}

.navbar {
  font-size: 30pt;
}

.button {
  background-color:rgba(36, 41, 56, 0.925);
  color: whitesmoke;
  border: 2px;
  border-style:solid;

}

